*{
margin:0;
padding:0;
box-sizing:border-box;
}
div{
    height:100vh;
    background-color: #f0f0f0;
    background-image:url("https://images.unsplash.com/photo-1739793669651-3274b0768492?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}